* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

:root {
    --h-color: #1E1E1E;
    --p-color: #4A4A4A;
    --background: #FFFFFF;
    --brand-color: #39DB4A;
    --star-color: #FFE605;
    --guest-color: #FF6868;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
    font-family: Century Gothic, Verdana, sans-serif;
    overflow-x: hidden;
     margin-top: 30px;
    padding: 30px;
    background-size: cover;
}

header {
        background: var(--background);
    width: 80%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 80px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 40px;
    font-weight: thin;
}

.active {
    color: var(--brand-color);
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-right: 25px;
}

nav ul li i {
    color: var(--brand-color);
}

.bag-btn {
    position: relative;
    cursor: pointer;
}

.bag-items {
    position: absolute;
    bottom: 12px;
    left: 5px;
    background: var(--brand-color);
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    color: var(--background);
    padding: 0 6px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    background: var(--brand-color);
    color: var(--background);
    border: none;
    border-radius: 20px;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 2.3rem;
    color: #161a17;
    float: right;
    line-height: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}

/* ==========
       main
    ========== */

main {
    /* border: 1px solid black; */
    width: 90%;
    margin: 20px auto;
    /* max-width: 90vw; */
}

.hero {
    /* border: 1px solid black; */
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 40px;
}

.hero-description {
    /* border: 1px solid black; */
    width: 100%;
    padding: 30px;
    line-height: 1.3;
}

span.food {
    color: var(--brand-color);
}

.hero-description h1 {
    /* border: 1px solid black; */
    width: 75%;
    /* padding: 30px; */
    margin-bottom: 15px;
    color: var(--h-color);
    font-size: 2.3rem;
    font-weight: 600;
}

.hero-description p {
    /* border: 1px solid black; */
    width: 70%;
    line-height: 1.5;
    color: var(--p-color);
    margin: 40px 0;
}

.hero-description button {
    padding-right: 15px;
    margin-right: 20px;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--brand-color);
}

span.play-btn {
    padding: 15px;
    border-radius: 55%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.hero-description button+p {
    display: inline;
    margin-right: 20px;
    font-weight: 500;
}

.hero-img {
    /* border: 1px solid black; */
    width: 100%;
    position: relative;
}

.hero-img img {
    width: 100%;
    height: auto;
    max-width: 500px;
    padding-left: 50px;

}

.speech-bubble {
    position: absolute;
    top: 35px;
    left: -80px;
    padding: 0.1em;
    width: 10em;
    height: 2em;
    border-radius: 0.25em;
    transform: rotate(-12deg) rotateY(15deg);
    background: var(--brand-color);
    font: 2em Century Gothic, Verdana, sans-serif;
    text-align: center;
}

.speech-bubble:before,
.speech-bubble:after {
    position: absolute;
    z-index: -1;
    content: '';

}

.speech-bubble:after {
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
    border-radius: inherit;
    transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
    background: #d7eef8;
}

.speech-bubble:before {
    border: solid 0 transparent;
    border-right: solid 3.5em var(--star-color);
    border-bottom: solid .25em #629bdd;
    width: 0;
    height: 1em;
    transform: rotate(45deg) skewX(60deg);
}

.overlapping {
    width: fit-content;
    display: flex;
    gap: 15px;
    margin-left: 10px;
    position: absolute;
    bottom: -65px;
    right: -20px;
}

.left-overlap {
    width: 100%;
    /* height: 20vh; */
    display: flex;
    gap: 15px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    background: var(--background);
    padding: 12px 10px 0;
}

.right-overlap {
    width: 100%;
    /* height: 20vh; */
    display: flex;
    gap: 15px;
    margin-left: 10px;
    /* border: 2px solid black; */
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background: var(--background);
    padding: 12px 10px 0;
}

.overlapping img {
    width: 100%;
    height: auto;
}

span.dollar {
    color: var(--guest-color);

}

.overlapping .desc p {
    font-weight: bold;
}


/* =================
       Special Dishes
      ================ */
.special-dishes {
    /* border: 1px solid black; */
    width: 90%;
    margin: 50px auto;
}

.special-dishes .heading {
    /* border: 1px solid black; */
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-desc small {
    color: var(--guest-color);
    letter-spacing: 1.5px;
}

.heading-desc {
    margin-left: 1.5rem;
}

.heading-desc h2 {
    width: 200px;
    color: var(--h-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 18px 0;
}

.arrows {
    /* border: 1px solid red; */
    margin-right: 3rem;
    font-weight: bold;
}

span.less-than-sign {
    background: #EFEFEF;
    width: 80px;
    height: 80px;
    border-radius: 56%;
    padding: 15px;
    margin-right: 2rem;
}

span.greater-than-sign {
    background: var(--brand-color);
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 56%;
    padding: 15px;
}

.dish-cards {
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dish-card {
    flex-basis: 30%;
    background: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 30px;
    padding: 20px;
    gap: 25px;
    position: relative;
}

.dish-card img {
    width: 100%;
}

.fav {
    width: 65px;
    height: 55px;
    background: var(--brand-color);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px 35px;
}

.heart {
    display: block;
    margin-top: 15px;
    margin-left: 22px;
}

.rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dish-cards h4,
p {
    margin-bottom: 15px;
}